@import url('https://fonts.googleapis.com/css2?family=Hedvig+Letters+Sans&display=swap');
*{
    scroll-behavior: smooth;
}

/* Estilos generales */

section{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

h1{
    font-size: 2.5rem;
    
    color: rgb(130, 222, 255);
    font-family: "Hedvig Letters Sans", sans-serif;
}

/* Estilos generales */

img.logo{
    width: 50px;
    height: 50px;
}

.navbar{
    padding: 2rem;
    background-color: #f5f6f7;
}

.navbar-collapse{
    align-items: center;
    justify-content: space-between;
}

/* Sección Hero */

.hero{
    background-color: #f5f6f7;
    min-height: 450px;
    text-align: center;
    
}

.hero img{
    height: 200px;
    width: 200px;
    border-radius: 50%;
    margin: 20px;
}



@media screen and (max-width: 767px){
    .navbar-brand{
        display: none;
    }
}
